<!-- About Start -->
<div class="container-fluid py-5" id="about">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Về chúng tôi</h6>
            <h1 class="font-awesome display-4">AZ & Studio</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="row m-0 mb-4 mb-md-0 pb-2 pb-md-0">
            <div class="col-md-6 p-0 text-center text-md-right">
                <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">
                    <p><b>|AZ Studio </b>là một trong những công ty cung cấp dịch vụ quay phim chụp hình hàng đầu Việt Nam. 8 năm một hành hành trình, với hi vọng đem đến dịch vụ tốt nhất cho tất cả mọi người từ mọi miền đất nước, chúng tôi đã không ngừng đổi mới, mở rộng và phát triển.</p>
                </div>
            </div>
            <div class="col-md-6 p-0" style="min-height: 400px;">
                <img class="position-absolute w-100 h-100" src="img/prewedding.jpg" style="object-fit: cover;">
            </div>
        </div>
        <div class="row m-0">
            <div class="col-md-6 p-0" style="min-height: 400px;">
                <img class="position-absolute w-100 h-100" src="img/kỷ yếu.jpg" style="object-fit: cover;">
            </div>
            <div class="col-md-6 p-0 text-center text-md-left">
                <div class="h-100 d-flex flex-column justify-content-center bg-secondary p-5">

                    <p><b>|</b>Sở hữu hệ showroom cưới tại 3 tỉnh thành lớn khu vực miền Nam: TP. Hồ Chí Minh, Cần Thơ và Đà Lạt. Với tiêu chí đẹp-chất lượng-giá cả phù hợp để phục vụ mọi nhu cầu quay phim chụp hình cho các cặp đôi,gia đình.Chúng tôi cung cấp đa dạng các gói chụp,các loại concept để khách tha hồ lựa chọn.</p>
                    <p style="text-align: center; font: bold;"><br><br>"AZ-Studio lưu giữ mọi khoảnh khắc"</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- About End -->