<!-- Contact Start -->
<div class="container-fluid contact bg-light py-5" id="contact">
    <div class="container py-5">
        <div class="row g-5">
            <div class="col-lg-6 wow fadeInLeft" data-wow-delay="0.1s">
                <div class="contact-item">
                    <div class="pb-5">
                        <h4 class="text-primary">Liên hệ</h4>
                        <p>Để lại thông tin và nhận tư vấn từ chúng tôi</p> 
                        <!--<p class="mb-0">The contact form is currently inactive. Get a functional and working contact form with Ajax & PHP in a few minutes. Just copy and paste the files, add a little code and you're done. <a class="text-primary fw-bold" href="https://htmlcodex.com/contact-form">Download Now</a>.</p> -->
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="bg-primary btn-lg-square rounded-circle p-4"><i class="fa fa-home text-white"></i></div>
                        <div class="ms-4">
                            <h4>Địa chỉ</h4>
                            <p class="mb-0">Khu Công nghệ cao Xa Lộ Hà Nội, Hiệp Phú, Thủ Đức, Thành phố Hồ Chí Minh, Việt Nam</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="bg-primary btn-lg-square rounded-circle p-2"><i class="fa fa-phone-alt text-white"></i></div>
                        <div class="ms-4">
                            <h4>Số điện thoại</h4>
                            <p class="mb-0">+84823746296</p>
                        </div>
                    </div>
                    <div class="d-flex align-items-center mb-4">
                        <div class="bg-primary btn-lg-square rounded-circle p-2"><i class="fa fa-envelope-open text-white"></i></div>
                        <div class="ms-4">
                            <h4>Email</h4>
                            <p class="mb-0">AZ.Studio@gmail.com</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 wow fadeInRight" data-wow-delay="0.3s">
                <form asp-action="ThongTinLienHe" asp-controller="CustomerVisit" method="post">
                    <div class="row g-3">
                        <div class="col-lg-12 ">
                            <div class="form-floating">
                                <input type="text" class="form-control" placeholder="Tên của bạn" name="HoTen" required>
                                <label for="name">Họ và tên</label>
                            </div>
                        </div>
                        <div class="col-lg-12 ">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" placeholder="Email của bạn" name="Email" required>
                                <label for="email">Email</label>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="form-floating">
                                <input class="form-control" id="phone" placeholder="Số điện thoại" name="SoDienThoai" required>
                                <label for="phone">Số điện thoại</label>
                            </div>
                        </div>
                       
                     
                        <div class="col-12">
                            <div class="form-floating">
                                <textarea class="form-control" placeholder="để lại lời nhắn tại đây" id="message" style="height: 160px" name ="TinNhan" required></textarea>
                                <label for="message">Lời nhắn </label>
                            </div>
                        </div>
                        <div class="col-12">
                            <button type="submit" class="btn btn-primary w-100 py-3">Để lại lời nhắn</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-12 wow fadeInUp" data-wow-delay="0.1s">
                <div class="rounded h-100">
                    <iframe class="rounded-top w-100"
                            style="height: 500px; margin-bottom: -6px;" <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d22165.98423582901!2d106.78358573161259!3d10.854905507708997!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3175276e7ea103df%3A0xb6cf10bb7d719327!2zSFVURUNIIC0gxJDhuqFpIGjhu41jIEPDtG5nIG5naOG7hyBUUC5IQ00gKFRodSBEdWMgQ2FtcHVzKQ!5e0!3m2!1svi!2s!4v1712657259536!5m2!1svi!2s" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                    <div class="d-flex align-items-center justify-content-center bg-primary rounded-bottom p-4 ">
                        <h1 style="color:white">AZ Studio</h1>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->