<div class="container-fluid packages py-5" id="dichvu">
    <div class="container py-5">
        <div class="section-title position-relative text-center">
            <h6 class="text-uppercase text-primary mb-3" style="letter-spacing: 3px;">Dịch vụ</h6>
            <h1 class="font-awesome display-4">Các gói chụp</h1>
            <i class="far fa-heart text-dark"></i>
        </div>
        <div class="packages-carousel owl-carousel">
            <!-- Event -->
            <div class="packages-item">
                <div class="packages-img">
                    <img src="img/sp-evrnt.jpg" class="img-fluid w-100 rounded-top" alt="Ảnh sự kiện">
                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0">Event</h5>
                        <small class="text-uppercase">Chỉ từ 3.000.000đ</small>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                            <a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                        </div>
                        <div class="col-6 text-end px-0">
                            <a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Đặt lịch</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Lễ Hỏi -->
            <div class="packages-item">
                <div class="packages-img">
                    <img src="img/sp-hoi.jpg" class="img-fluid w-100 rounded-top" alt="Ảnh lễ hỏi">
                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0">Lễ Hỏi</h5>
                        <small class="text-uppercase">Chỉ từ 3.000.000đ</small>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small> 
                        </div>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                            <a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                        </div>
                        <div class="col-6 text-end px-0">
                            <a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Đặt lịch</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- PreWedding -->
            <div class="packages-item">
                <div class="packages-img">
                    <img src="img/sp-cuoi.jpg" class="img-fluid w-100 rounded-top" alt="Ảnh chụp ảnh cưới">
                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0">PreWedding</h5>
                        <small class="text-uppercase">Chỉ từ 5.000.000đ</small>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                        </div>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                            <a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                        </div>
                        <div class="col-6 text-end px-0">
                            <a  asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Đặt lịch</a>
                        </div>
                    </div>
                </div>
            </div>
            <!-- Kỷ Yếu -->
            <div class="packages-item">
                <div class="packages-img">
                    <img src="img/sp-kyyeu4.jpg" class="img-fluid w-100 rounded-top" alt="Ảnh kỷ yếu">
                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0">Kỷ Yếu</h5>
                        <small class="text-uppercase">Chỉ từ 300.000đ/1 người</small>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                            <a  asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                        </div>
                        <div class="col-6 text-end px-0">
                            <a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Đặt lịch</a>
                        </div>
                    </div>
                </div>
            </div


            <!-- Chân Dung-->
            <div class="packages-item">
                <div class="packages-img">
                    <img src="img/sp-chandung.jpg" class="img-fluid w-100 rounded-top" alt="Ảnh kỷ yếu">
                </div>
                <div class="packages-content bg-light">
                    <div class="p-4 pb-0">
                        <h5 class="mb-0">Chân dung</h5>
                        <small class="text-uppercase">Chỉ từ 1.500.000đ</small>
                        <div class="mb-3">
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="fa fa-star text-primary"></small>
                            <small class="far fa-star text-muted"></small>
                        </div>
                    </div>
                    <div class="row bg-primary rounded-bottom mx-0">
                        <div class="col-6 text-start px-0">
                            <a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Xem thêm</a>
                        </div>
                        <div class="col-6 text-end px-0">
                            <a a asp-action="DatLichChupAnh" asp-controller="CustomerVisit" class="btn-hover btn text-white py-2 px-4">Đặt lịch</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
