<form asp-action="SearchProduct" asp-controller="Product">
    <div class="input-group mb-3">
        <input type="text" class="form-control border rounded pr-5" placeholder="Tìm kiếm sản phẩm..." aria-label="Search Products" aria-describedby="search-addon" name="nameProduct">
        <div class="input-group-append">
            <button type="submit" class="btn btn-primary rounded-right" id="search-addon">
                <i class="fas fa-search"></i>
            </button>
        </div>
    </div>
</form>