 <!-- ======= Trang phục ======= -->
<section id="trangphuc" class="team section-bg">
    <div class="container" data-aos="fade-up">
        <div class="section-title position-relative text-center">
            <h1 class="font-awesome display-4 text-uppercase text-primary mb-3">Trang phục</h1>
            <i class="far fa-heart text-dark"></i>
        </div>

        <div class="row">



            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
                <a asp-action="Index" asp-controller="Product">
                    <div class="member">
                        <div class="member-img">
                            <img src="img/trangphuc/váy cưới.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4 style="text-align: center;">Váy cưới</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="400">
                <a asp-action="Index" asp-controller="Product">
                    <div class="member">
                        <div class="member-img">
                            <img src="img/trangphuc/ao dai cuoi.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4 style="text-align: center;">Áo dài Cưới</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
                <a asp-action="Index" asp-controller="Product">
                    <div class="member">
                        <div class="member-img">
                            <img src="img/trangphuc/Vest nam.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4 style="text-align: center;">Vest</h4>
                        </div>
                    </div>
                </a>
            </div>


            <div class="col-lg-3 col-md-6 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="300">
                <a asp-action="Index" asp-controller="Product">
                    <div class="member">
                        <div class="member-img">
                            <img src="img/trangphuc/tpKyyeu.jpg" class="img-fluid" alt="">
                        </div>
                        <div class="member-info">
                            <h4 style="text-align: center;">Kỷ yếu</h4>
                        </div>
                    </div>
                </a>
            </div>


        </div>

    </div>
</section>
<!-- Trang phuc-->