<div>
    @await Html.PartialAsync("_Carousel")
    @await Html.PartialAsync("_About")
    @await Html.PartialAsync("_Story")
    @await Html.PartialAsync("_Sanpham")
    @await Html.PartialAsync("_Trangphuc")
    @await Html.PartialAsync("_Contact")
</div>